.navbar-default {		
	background-color: #AAAAAA;	
	border-width: 2px;
	border-color: #000;
}

.navbar-default .navbar-brand {
	color: black;
	font-size: x-large;	
}

.navbar-default .navbar-toggle {
	border-color: black;
	border-width: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;	
}

#nav-list {
	margin-top: -21px;
}

#nav-list > li {
	width: 100% !important; 
	color: black !important;
	border: 1px solid black;
}

ul li h4 {
	color: black;
}

.row {
	margin-right: 25px;
	margin-left: 25px;
}

#main-content {
	background-color: #AAAAAA;	
	color: black;
	margin-top: 25px;
	margin-bottom: 30px;
	padding-top: 5px;	
	padding-bottom: 20px;
}